flask-logconfig==0.4.2
flask-migrate==2.3.0
flask-negotiate==0.1.0
flask-script==2.0.6
flask-sqlalchemy==2.3.2
flask==1.0.2
jsonschema==2.6.0
psycopg2==2.7.6.1
requests==2.20.1
# Generated with piprot 0.9.10
# Looks like you've been keeping up to date, time for a delicious beverage!
